RAILS_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db:5432/masonic_lodge_manager_development
POSTGRES_DB=masonic_lodge_manager_development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
RAILS_MASTER_KEY=replace_me
SECRET_KEY_BASE=replace_me
APP_HOST=localhost:3000
SMTP_ADDRESS=mailhog
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
ACTIVE_STORAGE_SERVICE=local
ADMIN_TEMP_PASSWORD=Logia.Temp.2026!A9
